# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fteam
DB_USER=postgres
DB_PASSWORD=root

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações de Segurança
JWT_SECRET=fteam_secret_key_2024
